:root {
  --work-bg: #3480eb;
  --break-bg: #8934eb;
  /* bg colours changed in app component instead */
}

body {
  /* margin: 1em; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--work-bg); this overrides the colour change in app.js */
  /* justify-content: center; */
  /* align-content: center; */

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#footer {
  text-align: left;
  position: absolute;
  bottom: 10px; /* doesn't work? */
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}

#members-list {
  display:flex;
}

.members-circles {
  /* margin: 0.1em; */
  height: 1em;
  width: 1em;
  background-color: white;
  border-radius: 50%;
  color: black;
  
  /* border: solid; */

  /* border-color: rgba(255, 255, 255, 0.7);
  border-width: 5px;
  
  font-size: 50px; */
  /* font-weight: 400px; */
  /* size: 20em; */
  

  display: flex;
  align-items: center;
  justify-content: center;
}

#timer-mode, .timer-control {
  /* font-family: ; */
  margin-top: 1.5em;
  font-stretch: expanded;
  font-size: larger;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 60%;
}

.timer-control {
  /* to fix color and standardizing across the css stuff later */
  opacity: 50%
}

.timer-control p:hover {
  opacity: 40% 
}

.ongoing-timer {
  color: whitesmoke;
}

.paused-timer {
  /* color: #5558 */
}

#timer-value {
  font-size: 50px;
}

#timer-container, #app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%; 
  /* how do i set height so that this occupies the remaining length */

  margin: 0 auto;
}